

<div class="card text-primary border-primary " style="max-width: 20rem;">
  <div class="card-body ">
    <h4 class="card-title">Prénom : <%= current_user.first_name %>    Nom : <%= current_user.last_name%></h4>
    <p class="card-text">E-mail : <%= current_user.email%></p>
    <p class="card-text">Inscrit(e) le : <%= current_user.created_at%></p>
    <p class="card-text"><%= link_to "Modifier son profil", edit_user_registration_path(current_user) %></p>
    <!-- <a href="#" class="card-link">Changer mon mot de passe</a> -->

  </div>

</div>

<div class="list-group" style="max-width: 18rem;">
  <%- @events.sort_by{|c| c.created_at}.reverse.each do |event| -%>
  <div class="card">
    <a href="<%= event_path(event.id) %>">
      <div class="card-body">
        <p class="card-text"><%=event.title%></p>
        <p class="card-text">Date : <%=event.start_date%></p>
        <p class="card-text"><small class="text-muted">ajouté le <%=event.created_at%></small></p>
      </div>
      <%- end -%>
