
<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header"><p>Titre de l'événement : <%= @event.title %></p></div>
  <div class="card-body text-info">
    <h5 class="card-title"><p>Description: <%= @event.description %></p></h5>
    <p class="card-text">
    <p>Date de l'évènement : <%= @event.start_date %></p>
    <p>Durée de l'évènement : <%= @event.duration %></p>
    <p>Prix: <%= @event.price%></p>
    <p>Lieux : <%= @event.location %></p></p>
<a href="#" class="card-link">Retour à tous les événements</a>
  </div>
</div>
